#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
  .logout{
    width: max-content;
    margin: 0 auto;
    border: 2px solid red;
    border-radius: 10px;
    overflow: hidden;
  }
  .logout button{
    outline: none;
    border: none;
    font-size: 1rem;
    padding: 5px;
    background-color: white;
    color: red;
    font-weight: bolder;
    cursor: pointer;
  }
  .user_name{
    font-family: sans-serif;
    color: blue;
  }
  .logout_notice{
    text-align: center;
    color: rgb(189, 188, 188);
    font-style: italic;
    font-family: sans-serif;
  }