.tick-icon{
    color: rgb(0, 172, 0);
}
.py-24{
    padding-top: 0!important;
}
.mb-20{
    margin-bottom: 0!important;
}
.mb-10{
    margin-bottom: 0!important;
}


.get_started_heading{
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    color: rgb(99,102,241);
    width: 80%;
    margin: 0 auto;
}
.step-icon{
  font-size: 2rem;
}
.pb-20{
    padding-bottom: 2rem!important;
}
.footer{
    background-color:rgb(99,102,241) ;
}
.footer-text-color{
    color: white;
}
.footer-highlight{
    color: rgb(241, 241, 241);
}